.picture1
	display inline-block
	img
		width 100px
		height 100px
		margin-right: 230px
.picture2
	display none
	img
		width: 400px
		height: 500px

div:first-of-type:hover ~ #first
	display: inline-block 
	
div:nth-of-type(2):hover ~ #secound
	display: inline-block 
	
div:nth-of-type(3):hover ~ #tird
	display: inline-block 

div:nth-of-type(4):hover ~ #fourth
	display: inline-block 
	
div:nth-of-type(5):hover ~ #fifth
	display: inline-block 