#table{
    background-color: rgb(76, 76, 76);
    width: 400px
}
#title{
    color:rgb(128, 128, 128);
}
#navi{
    color: rgb(255, 252, 252);
    font-style: italic;
}
td{
     padding:10px;
}
#no-active-support{
    
    color: rgb(255, 0, 0);
    font-weight: bold;
    padding-top: 0px;
}
#name, #email, #link{
    color: rgb(255, 214, 139);
}
#link{
    
}
#response-time, #last-action{
    color:rgb(128, 128, 128)
}
#status{
    color:rgb(246, 94, 6);
}
#navi{
    border-spacing:0px;
    padding-bottom:0px;
}
ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
}
li{
    padding-left: 1em;
    text-indent: -.9em;
}
li:before{
    content:"•  ";
    color: rgb(66, 204, 73);
}
#name{
    padding-bottom: 0px;
}